body {
  background : #ffffff;
  font-family : 'Source Sans Pro', sans-serif;
}

#map {
  border : 10px white solid;
  box-shadow : 0px 0px 5px #ccc;
  border-radius : 15px;
}

.row {
  margin-top : 30px;
}

#help {
  border-color : #ffffff;
  background-color : #f3f3f3;
}
